h1 {
  margin: 10px 0 5px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #7a7f84;
}

a {
  text-decoration: none;
}

.temperature {
  font-size: 50px;
  margin-left: -6px;
}

.weather-icon {
  position: relative;
  top: -11px;
}

.units {
  position: relative;
  top: -23px;
  left: -5px;
}

.active {
  cursor: default;
  color: #000;
}

.right {
  text-align: right;
}

.details {
  margin-top: -25px;
}

.weatherApp {
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  padding: 15px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.weather-icon img {
  margin-top: 20px;
  margin-left: -15px;
}

.search-form {
  margin-bottom: 10px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temp {
  font-size: 13px;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}
