body {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

h1 {
  margin: 22px 0 5px 0;
  font-size: 40px;
  text-align: left;
  color: #c54b23;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #e4663a;
}

a {
  text-decoration: none;
}

#city-input {
  background-color: #fff279;
  color: #c54b23;
}

.btn,
.btn:hover {
  color: rgb(30, 17, 104);
}

.temperature {
  font-size: 50px;
  margin-left: -6px;
  color: rgb(30, 17, 104);
}

.weather-icon {
  position: relative;
  top: -9px;
}

.units {
  position: relative;
  top: -23px;
  left: -5px;
}

.right {
  text-align: right;
}

.details {
  margin-top: -25px;
}

.weatherApp {
  border: 1px solid #e4663a;
  border-radius: 10px;
  padding: 15px;
  background: linear-gradient(
    179deg,
    rgb(255, 129, 27) -27.5%,
    rgb(245, 255, 56) 94.7%
  );
}

.weather-app-wrapper {
  max-width: 550px;
  margin: 20px auto;
}

.weather-icon img {
  margin-top: 10px;
}

.icon-temp {
  text-align: right;
}

.search-form {
  margin-bottom: 10px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temp {
  font-size: 13px;
}
